# OSX artifacts
.DS_Store

# Dear ImGui artifacts
imgui.ini
imgui*.ini

# Database
*.db

# Logins files
logins.*

# Log files
*.log

# Secret key
key_iv.bin

# General build artifacts
*.o
*.obj
*.so
*.d
*.exe

# Executables
veritas-lock